VITE_FIREBASE_API_KEY="AIzaSyBneTMUsyePvwbW-gvRwsTJqTAU42Gc9Mw",
VITE_FIREBASE_AUTH_DOMAIN="voting-poll-1b534.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="voting-poll-1b534",
VITE_FIREBASE_STORAGE_BUCKET= "voting-poll-1b534.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="268477297757",
VITE_FIREBASE_APP_ID= "1:268477297757:web:08f430f687f5afc04e49b4",
VITE_FIREBASE_MEASUREMENT_ID="G-81TNTB9SGK"
